body {
	color: #ddd;
}

body p {
	font-size: 155px;
}

.box {
	padding: 10px;
	border: solid 1px #cccccc;
}

@media screen and (max-width: 980px) {

body {
	width: 90%;
}

.box {
	padding: 5px;
}

}

footer{
  color: #fff;
}
