/*
box style

ボタンは基本的に幅固定している

Markup:
<a href="#" class="button {$modifiers}">This is Button!</a>

.button-big - 文字の大きいボタン
.button-middle - 文字の普通のボタン
.button-small - 文字の小さいボタン
:hover - ボタンホバー時のスタイル

Styleguide 2.0
*/

.button {
    display: block;
    text-align: center;
    width: 300px;
    padding: 10px;
    border-radius: 3px;
    background: #6DB696;
}
.button-big {
    font-size: 18px;
}
.button-middle {
    font-size: 15px;
}
.button-small {
    font-size: 12px;
}

/*
box style2

ボタンは基本的に幅固定している

Markup:
<a href="#" class="button2 {$modifiers}">This is Button!</a>

.button-big - 文字の大きいボタン
.button-middle - 文字の普通のボタン
.button-small - 文字の小さいボタン
:hover - ボタンホバー時のスタイル

Styleguide 2.1
*/

.button2 {
    display: block;
    text-align: center;
    width: 300px;
    padding: 10px;
    border-radius: 3px;
    background: #cdcdcd;
}
.button-big {
    font-size: 18px;
}
.button-middle {
    font-size: 15px;
}
.button-small {
    font-size: 12px;
}